.background {
  background-image: url("/assets/background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;

  display: flex;
  justify-content: center;
}




