<div class="background">
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">


    <mat-form-field>
      <mat-label>Select your Name</mat-label>
      <mat-select formControlName="userId">
        <mat-option [value]="user.id" *ngFor="let user of users">{{user.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Enter your Email" id="email" type="email" formControlName="email">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Enter your Wishlist" name="wishList" id="wishList" cols="30" rows="10"
                formControlName="wishList"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Which name did you pick?</mat-label>
      <mat-select formControlName="partnerId">
        <mat-option [value]="partner.id" *ngFor="let partner of users">{{partner.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Send</button>
  </form>
</div>
