<form [formGroup]="wishlistForm" (ngSubmit)="onSubmit(wishlistForm.value)" novalidate>


  <mat-form-field>
    <mat-label>Select your name</mat-label>
    <mat-select formControlName="userId">
      <mat-option [value]="user.id" *ngFor="let user of users">{{user.name}}</mat-option>
    </mat-select>
    <mat-error *ngIf="userId.getError('required')">Please select your name</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Enter your email" id="email" type="email" formControlName="email">
    <mat-error *ngIf="email.getError('email') && !email.getError('required')">Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="email.getError('required')">Please enter an email address</mat-error>
  </mat-form-field>

  <mat-form-field>
      <textarea matInput placeholder="Enter your wishlist" name="wishList" id="wishList" cols="30" rows="10"
                formControlName="wishList"></textarea>
    <mat-error *ngIf="wishList.getError('maxlength') && !wishList.getError('required')">You entered too much text
    </mat-error>
    <mat-error *ngIf="wishList.getError('required')">Please enter your wishlist</mat-error>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Enter your address" name="address" id="address" cols="30" rows="4"
              formControlName="address"></textarea>
  <mat-error *ngIf="address.getError('maxlength') && !address.getError('required')">You entered too much text
  </mat-error>
  <mat-error *ngIf="address.getError('required')">Please enter your address</mat-error>
</mat-form-field>

  <button mat-raised-button color="primary" type="submit" id="submitButton">Send</button>
</form>
