form {
  margin-top: 6em;
  width: 20em;
  height: fit-content;
  padding: 1em;
  background: rgb(255, 255, 255, 0.8);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

form * {
  width: 100%;
}

#submitButton {
  margin-top: 10px;
}
