<form [formGroup]="wishlistForm" (ngSubmit)="onSubmit(wishlistForm.value)" novalidate>


  <mat-form-field>
    <mat-label>Your Name</mat-label>
    <input matInput id="name" type="text" formControlName="name" [value]="user.name">
  </mat-form-field>

  <mat-form-field>
      <textarea matInput placeholder="Enter your wishlist" name="wishList" id="wishList" cols="30" rows="10"
                formControlName="wishList" [(ngModel)]="user.wishes"></textarea>
    <mat-error *ngIf="wishList.getError('maxlength') && !wishList.getError('required')">You entered too much text
    </mat-error>
    <mat-error *ngIf="wishList.getError('required')">Please enter your wishlist</mat-error>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Enter your address" name="address" id="address" cols="30" rows="4"
              formControlName="address" [(ngModel)]="user.address"></textarea>
  <mat-error *ngIf="address.getError('maxlength') && !address.getError('required')">You entered too much text
  </mat-error>
  <mat-error *ngIf="address.getError('required')">Please enter your address</mat-error>
</mat-form-field>

  <button mat-raised-button color="primary" type="submit" id="submitButton">Send</button>
</form>
